.main {
    display: flex;
    flex-direction: column;
    background-color: rgb(42, 41, 41);
    border: 2vw solid rgb(42, 41, 41);
    width: 90vw;
}

.time {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.time .left, .right {
    width: 25vw;
    height: max-content;
    justify-content: space-evenly;

}

.time .indonesia, .netherlands {
    display: flex;
}



.time h1, h2, h3 {
    margin: 0px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .time {
        display: flex;
        flex-direction: column  ;
    }

    .time .left, .right {
        width: 50vw;
        height: max-content;
        justify-content: space-evenly;
        padding-bottom: 2vh;
    
    }

    .time h1{
        font-size: 4vh;
    }

    .time h3{
        font-size: 2vh;
    }


}